# Custom or sensitive files specific to this project
/provider/chave2.json

# Terraform Core Files
.terraform/
*.tfstate
*.tfstate.* # Covers .tfstate.backup, .tfstate.lock, etc.
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfplan

# Terraform lock file - DO NOT IGNORE
# .terraform.lock.hcl should be committed.

# Example files - DO NOT IGNORE
# Ensure terraform.tfvars.example (and similar) are committed.
!*.example

# Common OS / IDE specific files
.DS_Store
*~
Thumbs.db
.vscode/
.idea/

# Log files
*.log